@{
    ViewData["Title"] = "Privacy Policy";
}

<partial name="_PageTitle" />

<p>Use this page to detail your site's privacy policy.</p>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}