@model double?

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Test Page</h1>

<form>
    <input type="number" step="0.1" name="left" />
    <input type="number" step="0.1" name="right" />
    <output>@Model</output>
    <input type="submit" value="Calculate" />
</form>